.wrap{
    width: 100%;
    margin: 5vw;
}
#form{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.row{
    padding: 0px;
    margin: 0px;

}
#search{
    background:#F8F9FA;
    /* border: 2px solid #DFB4F1; */
    padding: 10px;
    margin: 0px;
    width: 100%;
    
}
input{
    margin: 0px;
}
label{
    margin: 0px;
}
.p{
    font-size: 1vw;
}