.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    height: 300px;
    width: 200px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 5%;
    display: inline-block;
    left: 0;
    right: 0;
    padding: 5px;
}
