body {
    font-family: 'Roboto Slab', sans-serif;
    background: white;
    color: #484848;
    /* padding: 40px; */
    text-align: left;
}

input {
    display: flex;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #cfcfcf;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    outline: none;
}

.displayErrors input:invalid {
    border-color: #f73772;
}

pre, code {
    font-family: 'Roboto Mono', Monaco;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #999;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid #797979;
    &:hover {
        background-color: #a1a1a1;
    }
    &:active {
        background-color: #888;
    }
}

form {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.res-block {
    display: inline-block;
}

h3 {
    margin-top: 30px;;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    animation: bounce 0.5s;
    transform-origin: center bottom;
}