#title{
    font-family: 'Proxima Nova', sans-serif;
    color: #DFB4F1;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2vw;
    margin-top: 0px;
}
#blurb{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    margin: 1.5vw;
}
.pink{
    color: #DFB4F1;
    letter-spacing: 0.2vw;
    font-weight: bolder;
}
p{
    font-size:18px;
}
li {
    text-align: left;
}

@media screen and (max-width: 1083px){
    #box, .container{
        width: 916px;
        margin: 0px;
    }
}
@media screen and (max-width: 800px){
    #box, .container{
        width: 750px;
        margin: 0px;
    }
}
@media screen and (max-width: 750px){
    #box, .container{
        width: 700px;
        margin: 0px;
    }
}
@media screen and (max-width: 700px){
    #box, .container{
        width: 650px;
        margin: 0px;
    }
}
@media screen and (max-width: 650px){
    #box, .container{
        width: 600px;
        margin: 0px;
    }
}
@media screen and (max-width: 600px){
    #box, .container{
        width: 550px;
        margin: 0px;
    }
}
@media screen and (max-width: 550px){
    #box, .container{
        width: 500px;
        margin: 0px;
    }
}
@media screen and (max-width: 500px){
    #box, .container{
        width: 475px;
        margin: 0px;
    }
}
@media screen and (max-width: 475px){
    #box, .container{
        width: 400px;
        margin: 0px;
    }
}
@media screen and (max-width: 400px){
    #box, .container{
        width: 375px;
        margin: 0px;
    }
}
@media screen and (max-width: 375px){
    #box, .container{
        width: 350px;
        margin: 0px;
    }
}
@media screen and (max-width: 350px){
    #box, .container{
        width: 320px;
        margin: 0px;
    }
}
@media screen and (max-width: 320px){
    #box, .container{
        width: 300px;
        margin: 0px;
    }
}