#background {
    background-color: black;
}

input {
    display: flex;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #cfcfcf;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    outline: none;
}

.displayErrors input:invalid {
    border-color: #f73772;
}

pre, code {
    font-family: 'Roboto Mono', Monaco;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #999;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
}

form {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    vertical-align: top;
}

.res-block {
    display: inline-block;
}

h3 {
    margin-top: 0;
}
