.panel-title{
    font-family: 'Proxima Nova', sans-serif;
    color: #DFB4F1;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2vw;
    margin-top: 0px;
}
.btn{
    width: 100%;
}
 button.btn.btn-primary{
    width: fit-content;
  }