  .form-signin {
    max-width: 430px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10%;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin p {
    margin-top: 20px;
    color: #000;
    text-align: center;
  }

  .form-signin-heading {
    margin-top: 30%;
    text-align: center;
    color: #000;
  }
